nav{
    width: 300px;
    background-color: #00f;
    position: absolute; 
    top: 80px;

}
nav ul{
    list-style: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
